html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --main-page-color: #f72210;
  --black: #000000;
}

/* NAVIGATION */
.navbar {
  background-color: var(--main-page-color);
}

.navbar-brand img {
  height: 20px;
}

.nav-button {
  font-size: 18px;
}


.secondary-nav-link:hover{
  color: var(--main-page-color);
}

/* Added to circumvent the reboot.css text-dark property */
.secondary-nav-link{
  color: var(--black);
}

.nav-top {
  width: 100px;
  height: 20px;
  border-top: 20px solid var(--main-page-color);
  border-left: 29px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-item a {
  font-size: 12px;
  line-height: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

.sub-button {
  color: var(--main-page-color);
}


.article-link:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: var(--main-page-color);
}

.link-no-deco:hover {
  text-decoration: none;
  color: #000;
}

.link-deco:hover {
  color: var(--main-page-color);
  text-decoration: none;
}

article {
  padding-bottom: 20px;
}

.col-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  padding: 10px 0;
}

.item-separator-large {
  background-color: #f4f5f7;
  height: 19px;
  width: 100%;
}

.mid-page-link {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.icon-n {
  width: 29px;
  height: 28px;
  background:
    url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.subs-wrapper {
  background-color: #f4f5f6;
  padding: 24px 20px 20px;
  margin: 15px;
}

.subscribe-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: var(--main-page-color);
}

.debate-side-1 {
  border-top: 4px solid #f92859;
  padding-top: 10px;
  padding-bottom: 4px;
}

.rounded-image-small {
  margin-right: 10px;
  border-radius: 100px;
  height: 63px;
  max-width: 63px;
}

.debate-side-2 {
  border-bottom: 4px solid #1c87fb;
  padding-bottom: 12px;
}

.debate-versus::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
}

.debate-versus {
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed", sans-serif;
  text-align: center;
  margin: 6px auto;
}

.debate-versus::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
}

.block-title {
  border-top: 1px solid #d9d9d9;
  color: #f72210;
  padding-top: 25px;
  font-size: 22px;
  line-height: 22px;
}

.hr-grey {
  border: 1px solid #333;
  margin: 0 10px;
}

.footer-image {
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
}

.feature-summary {
  font-weight: bold;
}

.story-header {
  position: relative;
}

.article-image {
  width: 100%;
}

.magazine-images {
  height: 160px;
}

.previous-edition {
  z-index: 3;
}

.current-edition {
  position: absolute;
  top: 15px;
  left: 110px;
}

.magazine-images img {
  height: 228px;
  width: 170px;
}

.mag-cat {
  padding: 0 7px;
  background-color: var(--main-page-color);
  color: white;
  margin-right: 7px;
}

.cat {
  color: var(--main-page-color);
}

.article-category {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: -10px;
}

.magazine-issue-date {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}

.mag-category {
  color: #000;
  background-color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}

.feature-category {
  color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}

.fab,
.footer-links a {
  color: #000;
}

@media (min-width: 768px) {
  .custom-navbar-button {
    margin-right: 0;
  }

  .custom-navbar-button button {
    font-size: 1rem;
  }

  .current-edition {
    position: absolute;
    top: 15px;
    left: 355px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand img {
    height: 60px;
  }

  .featured-stories::before {
    display: none;
  }

  .current-edition {
    position: absolute;
    top: 20px;
    left: 355px;
  }

  .main-view {
    max-height: 1000px;
    overflow: scroll;
    -ms-overflow-style: none;
  }

  .main-view::-webkit-scrollbar {
    display: none;
  }
}
