html,
body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --main-page-color: #f72210;
}
/* NAVIGATION */
.navbar {
  background-color: var(--main-page-color);
}

.navbar-brand img {
  height: 20px;
  padding-left: 3px;
}

.nav-button {
  font-size: 14px;
  text-transform: uppercase;
}

.login-button {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  margin-right: 2px;
}
.sub-button {
  color: var(--main-page-color);
  background-color: white;
  border-radius: 0em;
}
/* .btn-login{
    background: none;
    color: #fff;
}

.btn-subscribe{
    background: #fff;
    color: var(--main-page-color);
    border-radius: 0px;
} */

/* HELPER CLASSES */
.bold-text {
  font-weight: bold;
}

p {
  padding-top: 10px;
}

article {
  padding-bottom: 20px;
}

.col-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  padding: 10px 0;
}
/* PAGE ITEMS */

.item-separator-large {
  background-color: #f4f5f7;
  height: 19px;
  width: 100%;
}

.mid-page-link {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.icon-n {
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.subs-wrapper {
  background-color: #f4f5f6;
  padding: 24px 20px 20px;
  margin: 15px;
}

.subscribe-title {
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: var(--main-page-color);
}

.main-container {
  position: relative;
}

.border-before::before {
  content: "";
  display: block;
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
}

/* --------------> THE DEBATE -------------->*/

.debate-side-1 {
  border-top: 4px solid #f92859;
  padding-top: 10px;
  padding-bottom: 4px;
}

.rounded-image-small {
  margin-right: 10px;
  border-radius: 100px;
  height: 63px;
  max-width: 63px;
}

.debate-side-2 {
  border-bottom: 4px solid #1c87fb;
  padding-bottom: 12px;
}

.debate-versus::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
}

.debate-versus{
  width: 32px;
  height: 32px;
  background-color: #000;
  color: #d6d6d6;
  border-radius: 50%;
  font: bold 14px/32px "Roboto Condensed",sans-serif;
  text-align: center;
  margin: 6px auto;
}

.debate-versus::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
  right: 0;
}
/* --------------> END THE DEBATE --------------> */


/* --------------> START THE OPINIONS --------------> */


/* --------------> END THE OPINIONS --------------> */

/* CONTENT ITEMS */
.feature-summary {
  font-weight: bold;
}
.story-header {
  position: relative;
}

.article-image {
  width: 100%;
}

.hr-grey {
  background-color: #333333;
  margin: 0 10px;
}
.magazine-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 25px 0;
}

.opinion-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.opinion-item img {
  margin-right: 5px;
}
.debate-side {
  padding-top: 10px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}

.magazine-images {
  position: relative;
  text-align: center;
  height: 160px;
}

.previous-edition {
  z-index: 3;
}

.current-edition {
  position: absolute;
  top: 15px;
  left: 110px;
}
.magazine-images img {
  height: 228px;
  width: 170px;
}

.magazine-info {
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
}
/* CATEGORY ITEMS */

.article-category {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
}

.magazine-issue-date {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.mag-category {
  color: #000;
  background-color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}

.feature-category {
  color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}

@media screen and (min-width: 992px) {
  .navbar-brand img {
    height: 60px;
  }

  .featured-stories::before {
    display: none;
  }
}
