html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --main-page-color: #f72210;
}
/* NAVIGATION */

.nav-wrapper {
  background-color: var(--main-page-color);
}
.navbar-brand img {
  height: 50px;
}

/* PAGE ITEMS */
.col-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  padding: 25px 0;
}
.mid-page-link {
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
}

.icon-n {
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

.subs-wrapper{
    background-color: #f4f5f6;
    padding: 24px 20px 20px;
    margin: 15px;
}

.subscribe-title{
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: var(--main-page-color);
}

/* CONTENT ITEMS */
.feature-summary {
    font-weight: bold;
}
.story-header {
  position: relative;
}

.hr-blue {
  background-color: blue;
}
.article-image {
  width: 100%;
}
.hr-red {
  background-color: #f72210;
}

.hr-grey {
    background-color: #333333;
    margin: 0 10px;
  }
.magazine-header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding: 25px 0;
}
.debate-side img {
  margin-right: 10px;
}

.opinion-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.opinion-item img {
  margin-right: 5px;
}
.debate-side {
  padding-top: 10px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}

.magazine-images{
    position: relative;
    text-align: center;
    height: 160px;
}

.previous-edition{
    z-index: 3;
}

.current-edition{
    position: absolute;
    top: 15px;
    left: 110px;
}
.magazine-images img{
    height: 228px;
    width: 170px;
}

.magazine-info{
    font-weight: bold;
}
/* CATEGORY ITEMS */

.article-category {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
}

.magazine-issue-date {
  color: var(--main-page-color);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.mag-category {
  color: #000;
  background-color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}

.feature-category {
  color: var(--main-page-color);
  padding: 5px;
  bottom: 0;
  font-weight: bold;
}
